<p style="color: green"><%= notice %></p>

<%= render @inventory %>

<div>
  <%= link_to "Edit this item", edit_inventory_path(@inventory) %> |
  <%= link_to "Back to inventory", inventories_path %>

  <%= button_to "Destroy this item", @inventory, method: :delete %>
</div>
